@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ece5db;
  --foreground: #f0ebeb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: 'Alsmt';
  src: url('/fonts/Arbaeen.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
